services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qa_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qa_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      APP_PORT: 8080
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"

  tests:
    image: golang:1.25.1-alpine
    working_dir: /app
    volumes:
      - .:/app 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qa_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
      app:
        condition: service_started
    command: >
      sh -c "
      go test -v ./test/
      "

volumes:
  pgdata: